build
builddir
__pycache__
.vscode
MangoHud*.tar.gz
pkg
mangohud*.tar.*
lib32-mangohud*.tar.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# subprojects
subprojects/packagecache/
subprojects/Vulkan-Headers-*/

#GNU Global Metadata
**/GPATH
**/GRTAGS
**/GTAGS