build
builddir
__pycache__
.vscode
MangoHud*.tar.*
pkg
mangohud*.tar.*
lib32-mangohud*.tar.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# subprojects
subprojects/packagecache/
subprojects/Vulkan-Headers-*/
subprojects/imgui-*/
subprojects/spdlog-*/
subprojects/nlohmann_json-*/
subprojects/implot-*/
mangoconfig/subprojects/packagecache/
mangoconfig/subprojects/Vulkan-Headers-*/
mangoconfig/subprojects/imgui-*/
mangoconfig/subprojects/spdlog-*/
mangoconfig/subprojects/nlohmann_json-*/
mangoconfig/subprojects/implot-*/
mangoconfig/subprojects/nlohmann_json.wrap
mangoconfig/subprojects/spdlog.wrap
mangoconfig/subprojects/vulkan-headers.wrap

#GNU Global Metadata
**/GPATH
**/GRTAGS
**/GTAGS
