[submodule "modules/ImGui/src"]
	path = modules/ImGui/src
	url = https://github.com/flightlessmango/imgui.git
[submodule "modules/minhook"]
	path = modules/minhook
	url = https://github.com/flightlessmango/minhook.git
