name: Build source tars
on:
  release:
    types: ["created"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run build-source.sh
        run: |
          set -x
          sudo apt update
          sudo apt install gcc g++ ninja-build python3-pip python3-setuptools python3-wheel pkg-config mesa-common-dev libx11-dev libxnvctrl-dev libdbus-1-dev glslang-tools
          sudo pip3 install 'meson>=0.60' mako
          ./build-source.sh
          assets=()
          for asset in ./MangoHud-*-Source*.tar.*; do
            assets+=("-a" "$asset")
          done
          tag_name="${GITHUB_REF##*/}"
          hub release edit "${assets[@]}" -m "" "$tag_name"
          #hub release create "${assets[@]}" -m "$tag_name" "$tag_name"

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
