name: Build release package
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3
      - name: Install build tools
        run: |
          set -x
          sudo dpkg --add-architecture i386
          sudo apt update
          source ./build_deps.sh
          sudo apt -o Acquire::Queue-Mode=access -y install ${DEPS_DEBIAN//,/ }
      - name: Prepare Artifact Git Info
        shell: bash
        run: |
          echo "##[set-output name=branch;]${GITHUB_REF#refs/heads/}"
          ARTIFACT_NAME="commit-$(git rev-parse --short "$GITHUB_SHA")"
          if [ ${{ github.event_name == 'pull_request' }} ]; then
            echo "##[set-output name=short-sha;]$(git rev-parse --short "${{ github.event.pull_request.head.sha }}")"
            if [ ! -z "${{ github.event.pull_request.number }}" ]; then
              ARTIFACT_NAME="pr-${{ github.event.pull_request.number }}-commit-$(git rev-parse --short "${{ github.event.pull_request.head.sha }}")"
            fi
          else
            echo "##[set-output name=short-sha;]$(git rev-parse --short "$GITHUB_SHA")"
          fi
          echo "##[set-output name=artifact-metadata;]$ARTIFACT_NAME"
      - name: Build and package
        run: |
          ./build-source.sh
          if [ -d /out ]; then
            ./build.sh build_dbg -Dwerror=true package release
          else
            ./build.sh build -Dwerror=true package release
          fi
      - name: Upload assets to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ -d /out ]; then
            cp ./build/*.tar.* /out
          else
            tag_name="${GITHUB_REF##*/}"
            for pkg in ./build/*.tar.*; do
              gh release upload "$tag_name" "$pkg" --clobber
            done
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: MangoHud-${{steps.git-vars.outputs.artifact-metadata}}
          path: ${{runner.workspace}}/MangoHud/build/MangoHud-*tar.gz
          retention-days: 30
